<ion-header>
  <ion-navbar>
    <ion-title>Mundo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let regiao of regioes" (tap)="goToRegiao(regiao)">
      {{ regiao.nome }}
      <ion-badge item-end color="{{ regiao.cor }}">
        Nv. {{ regiao.nivelInicial }} - {{ regiao.nivelFinal }}
      </ion-badge>
    </button>
  </ion-list>
</ion-content>
