<!-- Generated template for the MagmaInventarioComponent component -->
<h5 text-center>EQUIPAMENTOS</h5>

<ion-grid>
  <ion-row>
    <ion-col col-4 offset-4 text-center>
      <magma-item [item]="inventario.elmo" [tipo]="'elmo'"></magma-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4 text-center>
      <magma-item [item]="inventario.arma" [tipo]="'arma'"></magma-item>
    </ion-col>

    <ion-col col-4 text-center>
      <magma-item [item]="inventario.armadura" [tipo]="'armadura'"></magma-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <magma-item [item]="inventario.luvas" [tipo]="'luvas'"></magma-item>
    </ion-col>

    <ion-col text-center>
      <magma-item [item]="inventario.calcas" [tipo]="'calcas'"></magma-item>
    </ion-col>

    <ion-col text-center>
      <magma-item [item]="inventario.botas" [tipo]="'botas'"></magma-item>
    </ion-col>
  </ion-row>
</ion-grid>

<h5 text-center>MOCHILA</h5>

<ion-grid>
  <ion-row *ngFor="let linha of inventario.mochila">
    <ion-col col-3 text-center *ngFor="let item of linha">
      <magma-item [item]="item" [tipo]="'mochila'"></magma-item>
    </ion-col>
  </ion-row>
</ion-grid>
