<ion-header>

  <ion-navbar>
    <ion-title>{{ regiao.nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let monstro of regiao.monstros">
    <ion-card-content>
      <ion-card-title>{{ monstro.nome }} 
        <ion-badge float-end>Nv. {{ monstro.nivel }}</ion-badge>
      </ion-card-title>

      <p>{{ monstro.descricao }}</p>

      <ion-row>
        <ion-col>
          <button ion-button clear icon-start float-end>
            <ion-icon name="locate"></ion-icon>
            Enfrentar
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
