<ion-card *ngIf="item;else itemVazio" color="light">
  <img src="{{ item.imagem }}">

  <ion-card-content>
    {{ item.nome }}
  </ion-card-content>
</ion-card>

<ng-template #itemVazio>
  <ion-card color="light" [ngSwitch]="tipo">
    <img src="assets/itens/vazio.png">
    <ion-icon *ngSwitchCase="'elmo'" name="headset"></ion-icon>
    <ion-icon *ngSwitchCase="'arma'" name="construct"></ion-icon>
    <ion-icon *ngSwitchCase="'armadura'" name="shirt"></ion-icon>
    <ion-icon *ngSwitchCase="'luvas'" name="hand"></ion-icon>
    <ion-icon *ngSwitchCase="'calcas'" name="home"></ion-icon>
    <ion-icon *ngSwitchCase="'botas'" name="walk"></ion-icon>
    <ion-icon *ngSwitchCase="'mochila'" name="code"></ion-icon>

    <ion-card-content>
      <span *ngSwitchCase="'elmo'">ELMO</span>
      <span *ngSwitchCase="'arma'">ARMA</span>
      <span *ngSwitchCase="'armadura'">ARMADURA</span>
      <span *ngSwitchCase="'luvas'">LUVAS</span>
      <span *ngSwitchCase="'calcas'">CALCAS</span>
      <span *ngSwitchCase="'botas'">BOTAS</span>
      <span *ngSwitchCase="'mochila'">MOCHILA</span>
    </ion-card-content>
  </ion-card>
</ng-template>